proxmox_api_url        = "https://<ВАШ_IP>:8006/api2/json"
proxmox_api_token_id   = "root@pam!terraform"
proxmox_api_token_secret = "<ВАШ_СЕКРЕТ>" # proxmox показывает его один раз, поэтому сразу скопируйте 